<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All chats</h3>
<form method="get" action="/chats/new">
    <button>new chat</button>
</form>
<br>
    <% for(let chat of chats) {%>
        <div class="chat">
            <p>From:<%= chat.from %></p>
            <div class="msg">
                <p>Message:<%= chat.msg %></p>
                <form method="get" action="/chats/<%= chat.id%>/edit">
                    <button>edit</button>
                </form>
                <form method="post" action="/chats/<%= chat.id%>?_method=DELETE">

                    <button>Delete</button>
                </form>
            </div>
            <p>Recived by: <%= chat.to %></p>
             
       <p>Time:  <%=String(chat.created_at).split(" ")[4] %></p>
       <p>Date: <%=String(chat.created_at).split(" ").slice(0,4).join("-") %></p>
        
           
        </div>
        <% } %>
</body>
</html>